body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
body>footer {
    margin-top: auto;
}
.navbar-container {
    background-color: #00060F;
    height: 70px;
    width: auto;
    box-shadow: 0 0 0.5em black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-container>*:last-child {
    margin-left: auto;
}

.navbar-logo {
    background: none;
    color: white;
    font-family: 'Poppins';
    font-size: 40px;
    padding: 3px 20px;
}

.logout {
    font-size: 20px;
    font-family: 'Poppins';
    background: none;
}

a {
    text-decoration: none;
    margin-right: 15px;
    background: none;
    color: white;
}

footer {
    background-color: #00060F;
    height: 60px;
    width: 100%;
    box-shadow: 0 0 0.5em black;
    font-family: 'Poppins';
    font-size: 20px;
    color: white;
    text-align: center;
}

