@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
* {
    padding: 0;
    margin: 0;
    background-color: #030A1C;
    font-family: 'Poppins';
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
body>footer {
    margin-top: auto;
}
.navbar-container {
    background-color: #00060F;
    height: 70px;
    width: auto;
    box-shadow: 0 0 0.5em black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-container>*:last-child {
    margin-left: auto;
}

.navbar-logo {
    background: none;
    color: white;
    font-family: 'Poppins';
    font-size: 40px;
    padding: 3px 20px;
}

.logout {
    font-size: 20px;
    font-family: 'Poppins';
    background: none;
}

a {
    text-decoration: none;
    margin-right: 15px;
    background: none;
    color: white;
}

footer {
    background-color: #00060F;
    height: 60px;
    width: 100%;
    box-shadow: 0 0 0.5em black;
    font-family: 'Poppins';
    font-size: 20px;
    color: white;
    text-align: center;
}


.form-users {
    margin: 40px;
    border-radius: 15px;
    background-color: #00060F;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.content{
    height: auto;
    width: 600px;
    background: none;
    margin-left: 20px;
}
h1{
    margin-top: 10px;
    color: white;
    background: none;
}
form{
    background: none;
}
input{
    margin: 5px;
    background: none;
    padding: 7px 30px;
    border-radius: 24px;
    border: 2px solid #3498db;
    color: white;
    outline: none;
}
.button-search{
    border: none;
    background: none;
    color: white;
    font-family: 'Poppins';
    border-radius: 2.5px;
    margin-top: 10px;
    margin-bottom: 7px;
    padding: 5px 20px;
    font-size: 15px;
    overflow: hidden;
    transition: 0.2s;
}
.button-search:hover{
    color: white;
    background: #2679b5;
    box-shadow: 0 0 10px #2679b5, 0 0 10px #2679b5, 0 0 10px #2679b5;
}
.button-new{
    border: none;
    background: none;
    color: white;
    font-family: 'Poppins';
    border-radius: 2.5px;
    margin-top: 10px;
    margin-bottom: 7px;
    padding: 5px 20px;
    font-size: 15px;
    overflow: hidden;
    transition: 0.2s;
}
.button-new:hover{
    color: white;
    background: #2bb526;
    box-shadow: 0 0 10px #11AA13FF, 0 0 10px #11AA13FF, 0 0 10px #11AA13FF;
}
.button-delete{
    border: none;
    background: none;
    color: white;
    font-family: 'Poppins';
    border-radius: 2.5px;
    margin-bottom: 7px;
    padding: 5px 20px;
    font-size: 15px;
    overflow: hidden;
    transition: 0.2s;
}
.button-delete:hover{
    color: white;
    background: #bd1a1a;
    box-shadow: 0 0 10px #a50000, 0 0 10px #a50000, 0 0 10px #a50000;
}
table{
    color: white;
    border-collapse: collapse;
    margin-bottom: 15px;
    text-align: center;
}
th{
    background: #00060F;
    padding: 0 10px;
}
td{
    background: #00060F;
    margin: 15px;
}

